In [1]:
import pandas as pd

In [2]:
csv_file1 = "Resources/schools_complete.csv"
csv_file2 = "Resources/students_complete.csv"

school_data = pd.read_csv(csv_file1)
student_data = pd.read_csv(csv_file2)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
##District Summary
total_schools = len(school_data_complete["School ID"].unique())
total_students = len(school_data_complete["Student ID"].unique())
total_budget = school_data["budget"].sum()
avg_math_score = school_data_complete["math_score"].sum()/total_students
avg_reading_score = school_data_complete["reading_score"].sum()/total_students

##Calculate how many passed math and reading
passed_math = school_data_complete["math_score"]>69
passed_reading = school_data_complete["reading_score"]>69
passed_math_count = passed_math[passed_math == True].count()
passed_reading_count = passed_reading[passed_reading == True].count()
passed_overall = school_data_complete[(school_data_complete["math_score"]>69) & (school_data_complete["reading_score"]>69)]
passed_overall_count = passed_overall["Student ID"].count()

##Calculate the percentage passed Math and Reading
percent_passed_math = (passed_math_count/total_students)* 100
percent_passed_reading = (passed_reading_count/total_students) * 100
percent_passed_overall = (passed_overall_count/total_students) * 100

district_summary_df = pd.DataFrame ({
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": percent_passed_math,
    "% Passing Reading": percent_passed_reading,
    "% Overall Passing": [percent_passed_overall]
})

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f}%".format)

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%